button:focus {
outline: none !important;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
}

iframe {
outline: none;
border: none;
}

.card-body iframe {
width: 100%;
height: 500px;
}

.pad-x-30 {
padding-left: 30px !important;
padding-right: 30px !important;
}

.f-rubik {
font-family: "Rubik",sans-serif;
}

.down_arrow {
padding-left: 0;
}

.btn-primary {
background: #0098ff;
font-size: 18px;
padding: 10px 20px;
text-align: center;
}

.sec-1 ul.thumbs {
margin: 0;
height: auto;
}

.badge {
border-radius: 0;
font-size: 14px;
font-weight: 600;
padding: 5px 8px;
font-family: "Montserrat", sans-serif;
}

.badge-primary {
background: #0098ff;
}

.badge-outline {
border: 2px solid #dee6ec;
color: #858789;
padding-top: 4px;
padding-bottom: 4px;
}

.btm-badge .badge-outline {
color: #0098ff;
}

.share-hdr {
margin-top: -6px;
}

.price {
color: #343434;
font: 500 24px "Rubik",sans-serif !important;
}

#thumbs {
margin-top: 3px;
position: relative;
}

#thumbs .owl-item {
padding: 0 1.5px;
position: relative;
}

#thumbs .owl-nav {
height: 0;
margin-top: 0;
}

#thumbs .owl-nav button {
position: absolute;
top: 0;
left: 0;
margin: 0;
background: #05121f;
height: 100%;
border-radius: 0;
opacity: 0.8;
width: 36px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
} 

#thumbs .owl-nav button:hover {
opacity: 1;
}

#thumbs .owl-nav .owl-prev {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
}

#thumbs .owl-nav .owl-next {
right: 0;
left: auto;
}

#thumbs .owl-item.current:after {
content: "";
position: absolute;
top: 0;
left: 0;
border: 4px solid #0098ff;
width: 100%;
height: 100%;
}

.show-title {	
margin-bottom: 40px;
}

.card.line {
margin-bottom: 15px;
}

.card-header.pos-1 {
padding: 0;
}

.card-header .btn-link {
width: 100%;
text-align: left;
color: #343434;
font: 600 18px "Montserrat";
text-decoration: none;
padding: 18px 28px;
line-height: 18px;
}

.card-header .btn-link span {
width: 90%;
display: inline-block;
white-space: normal;
word-break: break-word;
}

.card-header .btn-link i {
float: right;
transform: rotate(0);
-moz-transform: rotate(0);
-webkit-transform: rotate(0);
width: 9px;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
}

.card-header .btn-link i img {
max-width: 100%;
}

.card-header .btn-link[aria-expanded="true"] i { 
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}

.accordion .card-body {
box-shadow: 0 2px 2px #cecece;
-moz-box-shadow: 0 2px 2px #cecece;
-webkit-box-shadow: 0 2px 2px #cecece;
padding: 35px;
}

.btn-outline {
background-color: #fff;
border: 1px solid #0098ff;
color: #0098ff;
border-radius: 0;
font: 600 18px "Montserrat";
display: block;
width: 100%;
padding: 6px 20px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
background: #fff !important;
border-color: #0098ff;
box-shadow: 0 0 5px #0098ff;
-moz-box-shadow: 0 0 5px #0098ff;
-webkit-box-shadow: 0 0 5px #0098ff;
color: #0098ff !important;
}

.internal-accordion.card-body {
padding-left: 28px;
padding-right: 28px;
padding-top: 0;
}

.internal-accordion .card-body {
padding: 8px 5px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-top: 2px solid rgba(0, 0, 0, 0.12);
border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.internal-accordion .btn-link {
background: #fff;
border: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
float: none;
padding: 15px 0;
color: rgba(0, 0, 0, 0.62);
font: 500 16px "Rubik";
}	

.internal-accordion .card-header {
padding: 0;
background: transparent;
border: none;
}

.internal-accordion .dot-ul {
padding-left: 25px;
padding-right: 15px;
margin-top: 10px;	
}

.internal-accordion .dot-ul li {
color: rgba(0, 0, 0, 0.45);
font: 400 16px/23px "Rubik";
margin-bottom: 20px;
}

.internal-accordion .dot-ul li:last-child {
margin-bottom: 0;
}

.btn-group.lang {
margin-bottom: 20px;
}

.btn-group.lang .btn {
color: #B1B1B1;
border: 1px solid #E5E5E5;
background: #fff;
border-radius: 0;
padding: 3px 10px;
font: 600 15px "Montserrat";
}

.btn-group.lang .btn.active, .btn-group.lang .btn:hover {
color: #0098FF;
}

h3.head {
color: #343434;
font: 600 28px "Montserrat";
}

.see-all {
color: #0098ff;
font: 600 16px "Montserrat";
}

.see-all img {
width: 10px;
margin-top: -4px;
}

.see-all:hover {
color: #0098ff;
text-decoration: underline;
}

.article-wrap .card-title {
color: #343434;
font: 500 18px "Rubik";
}

.article-wrap .card-text {
color: #787878;
font: 400 14px "Rubik";
}

.article-wrap .card-text a:hover {
text-decoration: underline;
}

.blog-carousel .owl-item {
float: left;
}

.blog-carousel .owl-stage-outer {
position: relative;
overflow: hidden;
}

.blog-carousel .blog-img {
height: 180px;
width: 100%;
overflow: hidden;
margin-bottom: 15px;
}

.blog-carousel .blog-img img {
height: auto;
width: 100%;
}

.blog-carousel .blog-cont span {
color: #b5b5b5;
font: 400 14px "Rubik";
}

.blog-carousel .blog-cont .title {
color: #343434;
font: 500 16px "Rubik";
margin: 12px 0 5px 0;
}

.blog-carousel .blog-cont .badge  {
float: right;
background: #ccc;
color: #555;
font-weight: 500;
margin-bottom: 0;
}

.blog-carousel .blog-cont .badge-green {
background: #75AA46;
color: #fff;
}

.blog-carousel .blog-cont .badge-purple {
background: #5F4F8B;
color: #fff;
}

.blog-carousel .blog-cont .badge-blue {
background: #07B3F0;
color: #fff;
}

.smiliar-pick {
position: relative;
}

.smiliar-pick .custom-nav {
position: absolute;
top: calc(50% - 55px);
left: 0;
width: 100%;
}

.smiliar-pick .custom-nav button {
width: 35px;
height: 82px;
background: #F5F5F5;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
border: none;
position: absolute;
left: 3px;
cursor: pointer;
}

.smiliar-pick .custom-nav button.disabled {
cursor: not-allowed;
}

.smiliar-pick .custom-nav button.owl-prev {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
}

.smiliar-pick .custom-nav button.owl-next {
left: auto;
right: 3px;
}

footer h4 {
font-weight: 500;
}

.help-list {
width: 50%;
float: left;
}

.privacy-sec a:hover, .sistic-phone a:hover {
text-decoration: underline;
}

.show-mob {
display: none !important;
}

.breadcrumb a {
font-size: 13px;
font-family: "Rubik";
color: #b1b1b1;
}

.show-info .media-img {
flex: 0 0 66px;
border-radius: 4px;
overflow: hidden;
}

.ft {
font-family: "Rubik";
}

.ft-1 {
width: 100%;
height: auto;
}

.ticket-quantity {
background: url(../images/banner_aladdin.jpg) no-repeat 0 0;
background-size: cover;
min-height: 450px;
margin-top: 30px;
padding-top: 50px;
}

.title-bdr {
font: 600 25px "Montserrat";
color: #343434;
position: relative;
padding-top: 12px;
}

.title-bdr:before {
content: "";
background: #0098ff;
width: 43px;
height: 3px;
position: absolute;
top: 0;
left: 0;
}

/* Responsive Style Starts */
@media only screen and (max-width: 1280px) {

.show-title {
margin-bottom: 20px;
}

.blog-carousel .blog-img {
height: 150px;
}

.help-list, .account-list {
width: 42%;
}

}

@media only screen and (max-width: 1199px) { 

.label-sec {
margin-top: 10px !important;
}

.show-title {
font-size: 20px;
margin: 15px 0 !important;
}

footer ul li a  {
font-size: 14px;
}

.footer-bottom p, .privacy-sec {
font-size: 12px;
}

}

@media only screen and (max-width: 991px) {

.card-body iframe {
height: 240px;
}

.res-mtt0 {
margin-top: 0;
}

.header nav li a, .ticket-with-us a {
font-size: 14px;
}

.card-header .btn-link {
font-size: 16px;
padding: 12px 20px;
}

.accordion .card-body {
padding: 20px;
}

.internal-accordion .card-body {
padding: 8px 0;
}

.internal-accordion.card-body {
padding-top: 0;
padding-left: 15px;
padding-right: 15px;
}

.internal-accordion .btn-link {
padding-left: 0;
padding-right: 0;
}

.help-list, .account-list {
width: 50%;
}

.sistic-phone {
margin-top: 0;
}

}


@media only screen and (max-width: 767px) {

#mobile-header .navbar-toggler {
padding-left: 0;
padding-right: 0;
}

#mobile-header .navbar-toggler-icon {
background: transparent;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

#mobile-header .navbar-toggler-icon span {
background: #fff;
width: 30px;
display: block;
height: 2px;
border-radius: 5px;
margin-bottom: 7px;
}

#mobile-header .navbar-toggler-icon span:last-child {
margin-bottom: 0;
}

#mobile-header .navbar {
display: flex;
padding-top: 0;
position: static;
}

.logo-sec {
padding-top: 4px; 
}

.search-sec {
width: auto;
padding-top: 0;
position: static;
}

#mobile-header .search_icon {
width: 22px;
}

#mobile-header .ticket-main {
padding-top: 7px;
position: static;
}

.search-sec input {
bottom: auto;
top: 11px;
left: 5px;
width: calc(100% - 10px);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.search-sec input[style*="display: inline-block;"] + .search_icon {
opacity: 1;
position: fixed;
right: 17px;
top: 19px;
width: 18px !important;
}

.search-sec .form-control:focus {
background: #272f38;
color: #fff;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

#mobile-header {
padding-top: 9px;
padding-bottom: 11px; 
}

#custom-mobile-nav .nav-link {
color: rgba(255, 255, 255, 0.7)
}

#custom-mobile-nav .down_arrow {
margin-left: -5px;
}

#custom-mobile-nav {
width: 100vw;
position: absolute;
z-index: 99;
top: 50px;
left: 0;
padding: 8px 20px;
background: #202431;
}

#thumbs .owl-nav button {
width: 25px;
}

#thumbs .owl-nav button img {
width: 9px;
}

.mob-px-0 {
padding-left: 0 !important;
padding-right: 0 !important;
}
    
.badge {
padding: 3px 5px;
}

.badge-outline {
padding-top: 2px;
padding-bottom: 2px;
}

.label-sec {
margin-top: 2px !important;
}

.f-rubik a {
color: #0098ff
}

.sec-2 {
margin-top: 5px !important;
}

.card.line {
margin-bottom: 5px;
}

.internal-accordion .card-body {
border-bottom-width: 1px;
}

.button-sec hr {
margin: 30px 0 7px 0;
}

.button-sec .btm-badge .badge:first-child {
margin-left: 0 !important;
}

.button-sec .container-fluid {
margin-bottom: 25px !important;
}

.badge {
font-size: 13px;
}

.article-wrap .container-fluid, .smiliar-pick .container-fluid {
padding: 0 15px;
}

.article-wrap .container-fluid .row:first-child {
padding-top: 20px !important;
margin-bottom: 5px;
}

.smiliar-pick .container-fluid .row:first-child {
margin-top: 20px !important;
margin-bottom: 7px !important;
}

h3.head {
font: 600 22px "Montserrat";
}

.see-all {
font-size: 14px;
}

.see-all img {
width: 7px;
}

.mob-slide {
display: inline-flex;
flex-flow: row;
overflow-x: scroll;
}

.mob-slide .slide-item {
flex: 0 0 88%;
padding-left: 8px;
padding-right: 8px;
}

.mob-slide .slide-item:first-child {
margin-left: 7px;
}

.article-wrap .card-title {
font-size: 16px;
}

.article-wrap .card-body {
padding: 10px 0;
}

.blog-carousel .owl-item {
margin-left: 15px;
margin-right: 0 !important;
}

footer h4 {	
margin-bottom: 5px;
}

footer .list-inline {
line-height: 1.6rem;
}

footer .list-inline li {
width: calc(50% - 2px);
display: inline-block;
}

.help-list .list-inline li,
.account-list .list-inline li {
width: 100%;
}

.help-list, .account-list {
margin-bottom: 10px;
}

.mobile-app a {
display: inline-block;
width: calc(50% - 2px);
}

.play-img {
margin-top: 0;
}

.mobile-app {
margin-bottom: 25px;
}

.follow-us .list-inline li {
display: inline;
}

.stix-sec {
width: 140px;
float: left;
margin-left: 15px;
}

.privacy-sec {
width: calc(100% - 175px);
float: right;
margin-right: 15px;
padding-bottom: 15px;
}

.hide-mob {
display: none!important;
}

.show-mob {
display: block !important;
}


}




/* Responsive Style Ends */