body{
    position: relative;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    box-sizing: border-box;
}
/*common css*/
a, a:hover{
    text-decoration: none;
}

/* header css */
.header{
    font-family: 'Rubik', sans-serif;
    background-color: #0c101e;
    padding: 7px 0 10px 0;
}
.header nav li a{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.header .dropdown-menu{
    top: 29px;
    left: -103px;
    background-color: #000;
}
.logo-sec{
    display: inline-block;
    margin-right: 40px;
}
.search-sec{
    display: inline-block;
    padding-top: 11px;
    width: 60%;
    position: relative;
}
.search-sec input{
    height: 34px;
    border-radius: 20px;
    background-color: #272f38;
    border: none;
    font-size: 13px;
    color: #fff;
}
.nav-link:hover {
    color: #0098ff;
}
.search_icon{
    position: absolute;
    right: 15px;
    top: 21px;
}
.ticket-main img{
    margin-right: 15px;
}
.search-sec input[type='text']::-webkit-input-placeholder, .search-sec input[type='text']::-moz-placeholder, .search-sec input[type='text']:-ms-input-placeholder, .search-sec input[type='text']:-moz-placeholder{ 
    color: #fff;
}
.ticket-with-us {
    padding-top: 14px;
    display: inline-block;
    padding-left: 10px;
}
.ticket-with-us a{
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}
.navbar{
    padding: 0;
}
.navbar .navbar-nav .nav-item{
    margin-right: 35px;
}
.navbar .navbar-nav .nav-item:last-child{
    margin-right: 0;
}
.right-nav, .sistic-phone, .right-align-column{
    display: flex;
    justify-content:flex-end; 
}
.dropdown-toggle::after {
    display: none;
}
.down_arrow {
    padding-left: 3px;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 23px;
}

/*Events page slide show*/
#slideshow {
	width: 100%;
	height: 100%;
	margin: 100px auto;
	position:relative;
	overflow: hidden;
}
#slideshow.fullscreen {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	/*margin: 10px;*/
	margin:0px;
	/*padding: 230px;*/
	padding:230px 0;
	overflow: hidden;
}

.img-wrapper {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	z-index:8;
	background-size: auto;
	background-position: center center;
}
#slideshow .img-wrapper.active {
	z-index:10;
}

#slideshow .img-wrapper.last-active {
	z-index:9;
}

/*********************************
* Thumbnail Styling
*********************************/
.thumbs-container {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    z-index: 11;
    background: #fff;
}
.thumbs-container.top {
    top: 0; 
}
.thumbs-container.bottom {
    bottom: 0;
}
.prev, .next {
    width: 5%;
    min-width: 40px;
    height: 48px;
    padding: 46px 1%;
    color: #999999;
    cursor: pointer;
    background-color: #000;
    margin:5px 0;
}
.prev { float: left; }
.next { float: right; }
.prev:hover, .next:hover {
    color: #555555;
}
ul.thumbs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    padding: 0;
    margin: 0 5%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    z-index: -120;
}
.thumb {
    display: inline-block;
    width: 150px;
    height: 92px;
    margin: 5px 0px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
.thumb:first-of-type {
    margin-left: 0px;
}
.thumb.active {
    width: 150px;
    height: 90px;
    border: 2px solid #FFF;
}
.mtt-5{
	margin-top: 0px;
}

/*Date page css*/
.faded-crumb.completed-crumb{
    background: #fff;
}
.poster-thumb{
    border-radius: 4px;
}
.date-map-sec{
    font-family: 'Rubik', sans-serif;
}
.calendar-sec{
    position: relative;
    padding: 30px 0;
}
.calendar-sec:before{
    content: "";
    background: url(../images/banner_aladdin.jpg) no-repeat;
    min-height: 274px;
    background-position: 22% 14%;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
.date .Broadway-Musical{
    padding-bottom: 25px;
}
.date-map-sec a{ 
    font-size: 15px;
}
.date-map-sec a .flaticon-calendar{
    padding-right: 3px;
}
.date-map-sec .flaticon-calendar:before, .flaticon-ticket:before{
    color: #000;
    font-size: 14px;
}
.select-a-date h4{
    position: relative;
}
.select-a-date h4:before{
    content: "";
    position: absolute;
    width: 37px;
    height: 3px;
    background-color: #07b3f0;
    top: -11px;
}

/*seats page css*/
.breadcrumb {
    /*centering*/
    display: inline-block;
    /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);*/
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: "Montserrat";
    width:100%;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    padding: 0;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 36px;

    width: 16.66%;
    text-align:center;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 60px;
    /*background: #666;
    background: linear-gradient(#666, #333);*/
    position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
    padding-left: 46px;
    /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:last-child {
    /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px; 
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    /*background: #666;*/
    /*background: linear-gradient(135deg, #666, #333);*/
    /*stylish arrow design using box shadow*/
    box-shadow: 
    6px -5px 8px 2px rgba(150, 150, 150, 0.1), 
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}
.flat a, .flat a:after {
    background: #F0F0F0;
    color: #bdbdbd;
    font-size:11px;
    font-weight: 400;
    transition: all 0.5s;
}
.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background: #fff;
    box-shadow:6px -5px 8px 2px rgba(150, 150, 150, 0.1), 3px -3px 0 2px rgba(250, 250, 250, 0.1);
}
.flat > .state{
    color:#07B3F0 ;
    font-size:12px;
}
  
.ticket-detail-sec table tr td span{  
    display: block;
}
.ticket-detail-sec table tr td:last-child span{
    display: inline-block;
    font-weight: 800;
}
.ticket-detail-sec table tr td p{
    margin-bottom: 0;
}
.ticket-detail-sec table tr td:last-child p{
    margin-bottom: 17px;
}
.ticket-detail-sec .fa-trash:before{
    color: #0098ff;
}
.ticket-detail-sec .fa-trash{
    padding-left: 7px;
}
.ticket-detail-sec table tr td{
    border: none;
    padding: 10px 56px 0 0;
}
.ticket-detail-sec table tr td p{
    color: #9e9e9e;
    font-size: 12px;
}
.ticket-detail-sec table tr td span{
    color: #343434;
    font-size: 15px;
}
.booking-fee {
    padding-left: 80px;
}
.total-sec{
    background-color: #092438;
    padding: 10px 0;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}
.booking-fee h6{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
}
.booking-fee p{
    display: inline-block;
    font-size: 10px;
    padding-left: 15px;
}
.check-out-sec{
    display: flex;
    justify-content: flex-end;
}
.check-out-sec h6{
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0;
    vertical-align: middle;
    padding-right: 67px;
    font-weight: 800;
    line-height: 40px;
}
.check-out-btn {
    background-color: #0098ff;
    color: #fff;
    border-radius: 0;
    min-width: 190px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.seats .calendar-sec .select-a-date p{
    color: #343434;
    font-size: 13px;
}
.get-seat-btn{
    font-family: 'Montserrat', sans-serif;
    min-width: 266px;
    font-size: 16px;
    color: #0098ff;
    text-align: center;
    background-color: transparent;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    height: 45px;
}
.get-seat-btn:hover{
    background-color: #0098ff;
    color: #fff;
}
/* .seat-selection h6{
    font-size: 15px;
    color: #343434;
    font-weight: 800;
    border-bottom: 1px solid #dedede;
    padding-bottom: 4px;
} */
.seat-selection h6{
    position: relative;
}
.seat-selection h6:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #dedede;
    bottom: -5px;
}
.filter-level{
    padding: 15px 0 40px 20px;
}
.filter-level img{
    display: block;
    cursor: pointer;
    width: 100px;
}
.filter-content-sec .filter-active {
    color: #0098ff;
}
.filter-content-sec, .filter-img-sec{
    display: inline-block;
}
.filter-content-sec p{
    font-size: 13px;
    color: #9e9e9e;
    margin-bottom: 0;
}
.grand-circle{
    position: relative;
    z-index: 1;
    width: 80px;
}
.dress-circle{
    margin-top: -23px;
    position: relative;
    z-index: 0;
}
.stall {
    margin-top: -8px;
}
.filter-category-txt p, .all-sec p{
    font-size: 13px;
    color: #9e9e9e;
    display: inline-block;
    margin-bottom: 15px;
    line-height: 15px;
    vertical-align: text-top;
}
.all-color{
    display: inline-block;
}
.all-color-inner {
    line-height: 10px;
}
.all-sec p {
    vertical-align: super;
    padding-left: 4px;
}
.filter-category p{
    margin-bottom: 10px;
}
.all-color span{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}
.all-color .red, .filter-category-txt .red{
    background-color: #f76077;
}
.all-color .blue, .filter-category-txt .blue{
    background-color: #68a6ba;
}
.all-color .yellow, .filter-category-txt .yellow{
    background-color: #d6d32b;
}
.all-color .green, .filter-category-txt .green{
    background-color: #6eba7e;
}
.filter-category-txt span{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.filter-category-txt .navy{
    background-color: #524a8f;
}
.filter-category-txt .brown{
    background-color: #a3704b;
}
.filter-category-inner p{
    padding-left: 4px;
}
.filter-category-inner{
    display: inline-block;
}
.filter-category{
    padding: 15px 0 40px 15px;
}
.filter-mobile, .get-seat-mobile{
    display: none;
}
.filter-category-inner span, .filter-category-inner p, .filter-category-right p, .all-color, .all-sec p{
    cursor: pointer;
}
.right-seat-map img{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.right-seat-map h5{
    font-family: Open Sans;
    font-size: 15px;
    color: #4e5353;
    text-align: center;
    text-transform: uppercase;
}


/*Modal css*/
.sistic-login .modal-header{
    border-bottom: none;
    padding: 0;
}
.sistic-login .modal-body{
    padding: 0 60px 25px 60px;
    font-family: 'Rubik', sans-serif;
}
.sistic-login .modal-body .form-control{
    font-size: 14px;
    height: 39px;
    border: 1px solid #94cfff;
    border-radius: 0;
    color: #808080;
}
.sistic-login .modal-body .ticket-entertain{
    color: #424b5a;
    font-family: 'Open Sans', sans-serif;
}
.sistic-login .modal-body p{
    font-size: 13px;
    margin-bottom: 20px;
    color: #383838;
}
.sistic-login .modal-body .disconnect-txt{
    font-size: 10px;
}
.sistic-login .modal-dialog{
    max-width: 405px;
}
.sistic-login .modal-content {
    border-radius: 0;
}
.sistic-login .modal-header .close {
    padding: 5px 10px;
    margin: -5px 0px -9px auto;
    font-weight: 300;
    opacity: 1;
    color: #636363;
    font-size: 25px;
}
.sistic-login .modal-body .custom-btn{
   width: 100%;
   text-align: center;
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   height: 40px;
   border-radius: 0;
   -webkit-transition: 0.3s ease-in;
   -moz-transition: 0.3s ease-in;
   -o-transition: 0.3s ease-in;
   transition: 0.3s ease-in;
}
.bold-txt {
    font-weight: 800;
    line-height: 27px;
}
.sistic-login .modal-body .primary-btn, .sistic-login .modal-body .secondary-btn:hover{
    background-color: #0098ff;
    color: #fff;
}
.sistic-login .modal-body .secondary-btn, .sistic-login .modal-body .primary-btn:hover{
    background-color: #d8d8d8;
    color: #000;
}
.sistic-login .modal-body .facebook-btn {
    background:url("../images/facebook.png") no-repeat;
    background-position: 2% 50%;
    background-color: #475a96;
    color: #fff;
}
.sistic-login .modal-body .facebook-btn:hover{
    background-color: #5f75b9;
}
.filter-mobile{
    display: none;
}

/*Footer sec*/
footer{
    font-family: 'Rubik', sans-serif;
}
.help-list{
    display: inline-block;
}
.account-list{
    display: inline-block;
    padding-left: 25px;
}
.play-img{
    margin-top: 15px;
}
.mail-sub{
    position: relative;
}
.button-arrow {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.follow-us ul li{
    display: inline-block;
    margin-right: 15px;
}
footer ul li a{
    color: #4b5562;
}
footer h4{
    color: #4b5562;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
.follow-us h4{
    margin-bottom: 8px;
}
.footer-top {
    border-top: 1px solid #eaeaea;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}
.follow-us {
    margin-top: 30px;
}
.mail-sub input{
    border-color: #ecf7ff;
}
.mail-sub input:focus{
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.copyright{
    display: inline-block;
    padding-left: 20px;
}
.privacy-sec a, .sistic-phone a{
    color: #4b5562;
}
.privacy-sec a:last-child{
    position: relative;
    padding-left: 12px;
}
.privacy-sec a:last-child:before{
    position: absolute;
    content:"|";
    left: 3px;
    top: -2px;
}
.footer-bottom{
    padding: 10px 0;
}
.footer-bottom p{
    margin-bottom: 0;
}
.stix-sec img{
    width: 60px;
}

/*Media query starts here*/
@media only screen and (min-width: 1024px) and (max-width: 1199px){
    footer ul li a, .footer-bottom a{
        font-size: 14px;
    }
    .account-list{
        padding-left: 22px;
    }
    .ticket-detail-sec table tr td {
        padding: 10px 32px 0 0;
    }
}
@media only screen and (min-width: 768px) and (max-width:1199px){
    .search-sec{
        width: 55%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .navbar .navbar-nav .nav-item {
        margin-right: 19px;
    }
    .footer-top .col-2, .footer-top .col-4, .footer-top .col-3,  .footer-bottom .col-6,  .footer-bottom .col-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .account-list{
        padding-left: 15px;
    }
    .ticket-detail-sec table tr td {
        padding: 10px 20px 0 0;
    }
    .check-out-btn{
        min-width: 160px;
    }
    .get-seat-btn{
        min-width: 230px;
    }
}
@media only screen and (max-width: 991px){
    .copyright{
        padding-left: 0;
    }
    .sistic-phone {
        display: flex;
        justify-content: flex-start;
        margin-top: 14px;
    }
}
@media only screen and (min-width: 768px){
    #mobile-header, .mob-view{
        display: none;
    }
    .desk-view{
        display: block;
    }
}
@media only screen and (max-width: 768px){
    .desk-view{
      display: none;
    }
  
    .breadcrumb a {
      width: 14.66%;
      padding: 0 10px 0 52px;
    }
  
    .breadcrumb a:first-child {
      padding:0 auto;
    }
    .right-img-align{
      right: 25px;
    }
    .mob-view img{
      z-index: 3;
      position: inherit;   
    }
    .right-img-align{
      right:0;
    }
    #slideshow.fullscreen {
        padding: 180px 0;
    }
    .mtt-5{
        margin-top: 350px;
    }
}
@media only screen and (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding: 0;
    }
}
@media only screen and (max-width: 767px){
    .ticket-with-us{
        display: none;
    }
    #desktop-header{
        display: none;
    }
    .ticket-main{ 
        justify-content: flex-end;
    }
    .ticket-main img {
        margin-right: 0;
    }
    .search-sec{
        width: 84%;
        padding-right: 10px;
    }
    .search_icon{
        right: 0;
        top: 2px;
        position: relative;
    }
    .search-sec input{
        padding: 10px 12px;
        position: absolute;
        bottom: -40px;
        display: none;
        left: 0;
        -webkit-transition: 0.3s ease-in 0.3s;
        -moz-transition: 0.3s ease-in 0.3s;
        -o-transition: 0.3s ease-in 0.3s;
        transition: 0.3s ease-in 0.3s;
    }
    #mobile-header .navbar{
        display: inline-block;
        padding-top: 3px;
    }
    .logo-sec{
        margin-right: 0;
        padding-top: 7px;
    }
    .logo-sec img {
        width: 65px;
    }
    .navbar-dark .navbar-toggler{
        border-color: transparent;
    }
    .flaticon-ticket:before{
        margin-left: 0;
    }
    .ticket-detail-sec, .total-sec, .mobile-hidden, .filter-desktop, .get-seat-desktop, .filter-mobile .filter-level{
        display: none;
    }
    .filter-mobile, .get-seat-mobile, .theatre-details{
        display: block;
    }
    .get-seat-btn {
        min-width: 140px;
    }
    .get-seat-btn.btn-bg{
        background-color: #343434;
    }
    .select-a-date.pl-0, .breadcrumb-sec .container.pl-0{
        padding-left: 15px !important;
    }
    .filter-layers {
        background-color: #0098ff;
        color: #fff;
        padding: 4px 10px;
    }
    .flaticon-layers:before{
        margin-left: 9px;
        font-size: 16px;
    }
    .filter-layers, .filter-slider-sec, .all-sec, .filter-category-txt, .filter-img-sec, .filter-content-sec{
        display: inline-block;
    }
    .filter-category-txt p, .all-sec p{
        margin-bottom: 4px;
        font-size: 12px;
    }
    .filter-category-right {
        padding-left: 23px;
        margin-top: -8px;
    }
    .filter-layers{
        float: left;
        width: 14%;
    }
    .filter-slider-sec{
        float: left;
        width: 86%;
        padding: 3px 0 0 14px;
        border-style: solid;
        border-width: 1px 0 1px 0;
        border-color: #dedede;
    }
    .filter-layers p {
        font-size: 12px;
        margin-top: -5px;
    }
    .filter-level {
        position: absolute;
        background-color: #fff;
        width: 80%;
        z-index: 1;
        border: 1px solid #dedede;
        left: 0;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .logo-sec{
        margin-right: 14px;
    }
    .search-sec input{
        font-size: 12px;
    }
    .footer-top .col-2, .footer-top .col-4, .footer-top .col-3,  .footer-bottom .col-6,  .footer-bottom .col-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .account-list{
        padding-left: 15px;
    }
    footer ul li a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 480px){
    .search-sec input{
        font-size: 11px;
    }
    .logo-sec img {
        width: 60px;
    }
    .search-sec {
        width: 80%;
    }
    #mobile-header .navbar-toggler{
        padding: 4px 7px;
    }
    .footer-top .col-2, .footer-top .col-4, .footer-top .col-3, .footer-bottom .col-6,  .footer-bottom .col-3{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .account-list{
        padding-left: 15px;
    }
    .sistic-phone {
        margin-top: 0;
    }
    .footer-bottom .row{
        justify-content: center;
    }
}
@media only screen and (max-width: 414px){
    .account-list {
        padding-left: 7px;
    }
}
@media only screen and (max-width: 413px){
    .account-list {
        padding-left: 0;
    }
}
@media only screen and (max-width: 375px){
    .select-a-date h4{
        font-size: 18px;
    }
    .get-seat-btn {
        min-width: 120px;
    }
}
  @media only screen and (min-width: 360px){
    .breadcrumb a {
      width:15.66%;
    }
    .rr{
      margin:0 auto;
    }
    .breadcrumb a:first-child {
      padding:0 auto;
    }
  }
  
  @media only screen and (min-width: 414px){
    .breadcrumb a {
      width:15.99%;
    }
    .rr{
      margin:0 auto;
    }
  }
  
  
  @media only screen and (min-width: 320px){
      .breadcrumb a {
          width: 15.99%;
          padding: 0px 10px 0 30px;
      }
      .breadcrumb a:first-child {
        padding-left:32px;
      }
  
      .rr{
        margin:0 auto;
      }
  }

/*recent contents*/
.sec-1{
    font-family: "Montserrat"
}
.share-icons{
    border: 1px solid blue;
    padding: 10px;
}

footer .list-inline {

    line-height: 2.5rem;
}

.gap-fix{
    margin:0;
    padding:0;
}

.sec-4 .list-inline-item:not(:last-child) {
    margin-right: -2rem;
}