.bannRgt{ background-color:#F0F9FF;}
.vert_middle{ vertical-align: middle;}
.breadCrumb{ color:#848687;font-family:'Rubik', san-serif; display: inline; vertical-align: middle; font-size:14px;}
.dateCnt{ position:relative; vertical-align: middle;}
.seatMapOut{ position:relative; vertical-align: middle;}
.prc_cnt{ font-weight:500;color:#343434 !important;position:relative; vertical-align: middle;}
.locationTxt{ position:relative; color: #0097FE; vertical-align: middle;}
.viewAllVenues{ position:relative; vertical-align: middle;}